body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

p, h2 {
    margin: 10px 0;
}

a {
    color: #1b69bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}